{% load static %}
      <link rel="stylesheet" href="{% static 'assets/css/dark_mod.css' %}">
      <div id="bx" class="spreadbubble2"></div>
      <div id="bx" class="spreadbubble"></div>
      
      <div class="contentbox">
        Habitant sagittis vestibulum nostra elementum ut quis dictum fusce eu a eu nascetur ullamcorper a eget justo sed placerat per a vivamus egestas parturient cum consectetur. Sed tristique vestibulum non diam posuere a at aliquam habitant duis condimentum
        ullamcorper id per nulla suspendisse nisi. Duis netus aliquam erat ullamcorper etiam elit nibh diam nec a imperdiet justo scelerisque cursus habitasse a eget adipiscing scelerisque. Rhoncus parturient laoreet dictum etiam enim integer integer magna
        fames quisque pulvinar iaculis id consectetur sodales in quis est. Natoque morbi vehicula condimentum imperdiet adipiscing sed sociis ad proin facilisis euismod elementum vitae fermentum volutpat cubilia dui pulvinar at vestibulum hendrerit condimentum
        vestibulum vel dui a a. A elementum ut facilisi ridiculus scelerisque vestibulum adipiscing neque porta enim id a tristique primis adipiscing a pulvinar adipiscing at eleifend et iaculis porta ut taciti. Adipiscing integer non a parturient mus justo
        leo imperdiet non parturient facilisis per sem adipiscing platea parturient suspendisse egestas porta nibh mi ullamcorper rhoncus volutpat viverra ut suspendisse est. Inceptos vestibulum dapibus sem vestibulum metus eleifend mollis cum parturient id
        ullamcorper vestibulum et class arcu in eget semper sociis auctor malesuada. Enim sociis justo vestibulum a adipiscing class ullamcorper adipiscing mauris vel a purus in ridiculus sapien pretium a vestibulum sociosqu. A faucibus curabitur fringilla
        blandit vestibulum ut a eu ultrices suspendisse eros eros vestibulum porta. At potenti a vestibulum mollis eros parturient sem nec a condimentum dis auctor non a ullamcorper sodales leo. Fermentum enim sem dapibus interdum porttitor enim a a a consectetur
        turpis senectus ut inceptos cubilia ut. Parturient egestas mus vestibulum eleifend dolor fermentum erat vitae lacus per at litora venenatis nunc sem adipiscing.
      
      </div>
      
      <input type="button" value="Let there be dark" id="bt">
    <script src="{% static 'assets/js/dark_mod.js' %}"></script> 
    